<?xml version="1.0" encoding="UTF-8"?>

<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0"
xmlns:android="http://schemas.android.com/apk/res/android"
           id="org.apache.cordova.wifiinfo"
      version="0.1.1">

    <name>Wifi Network Information</name>
    <description>Cordova Wifi Network Information Plugin</description>
    <license>MIT</license>
    <keywords>network,wifi,wifiinfo</keywords>
    <repo>https://github.com/dippi/org.apache.cordova.wifiinfo</repo>
 
    <dependency id="org.apache.cordova.network-information" url="https://git-wip-us.apache.org/repos/asf/cordova-plugin-network-information.git" />

    <js-module src="www/WifiInfo.js" name="wifi">
        <clobbers target="navigator.wifi" />
    </js-module>

    <!-- android -->
    <platform name="android">
        <config-file target="res/xml/config.xml" parent="/*">
            <feature name="WifiInfo">
                <param name="android-package" value="org.apache.cordova.wifiinfo.CordovaWifiInfo"/>
            </feature>
        </config-file>

        <config-file target="AndroidManifest.xml" parent="/*">
            <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
            <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
        </config-file>

        <source-file src="src/android/CordovaWifiInfo.java" target-dir="src/org/apache/cordova/wifiinfo" />
    </platform>
</plugin>
